---
#tasks file for role

- name: install stuff which allows apt to use repositorys over https
  become: true
  apt: name={{item}} state=present
  with_items:
    - apt-transport-https
    - ca-certificates
    - curl
    - gnupg2
    - software-properties-common

- name: Get release
  become: true
  command: lsb_release -cs
  register: command_release
  changed_when: (command_release.stdout != 'stretch') and (command_release.stdout != 'jessie')

- name: add dockers official gpg key
  become: true
  apt_key:
    keyserver: "{{ docker_gpg_server }}"
    id: "{{ docker_gpg_key }}"
  register: add_repository_key
  ignore_errors: true

- name: add dockers official gpg key second try
  apt_key:
    id: 0EBFCD88
    url: https://download.docker.com/linux/{{ command_release.stdout }}/gpg
    state: present
  when: add_repository_key|failed

- name: debian | add repository
  become: true
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ command_release.stdout }} stable
    state: present
    filename: 'docker'
  when: |
    ((base_system is defined) and (base_system.name == 'debian')) or
    (command_release.stdout == 'stretch') or
    (command_release.stdout == 'jessie')

- name: ubuntu | add repository key
  become: true
  apt_key:
    keyserver: "{{ docker_ubuntu_gpg_server }}"
    id: "{{ docker_ubuntu_gpg_key }}"
  when: |
    ((base_system is defined) and (base_system.name == 'ubuntu')) or
    (command_release.stdout == 'xenial') or
    (command_release.stdout == 'trusty')


- name: ubuntu | add repository with version_name from host vars
  become: true
  apt_repository:
    #repo: "deb https://apt.dockerproject.org/repo ubuntu-{{ base_system.version_name }} main"
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ base_system.version_name }} stable
    state: present
    filename: 'docker'
  when: | 
    ((base_system is defined) and
    (base_system.name == 'ubuntu') and
    (base_system.version_name is defined))

- name: ubuntu | add repository with name read from system
  become: true
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ command_release.stdout }} stable
    state: present
    filename: 'docker'
  when: | 
    (command_release.stdout == 'xenial') or
    (command_release.stdout == 'trusty')

- name: install docker-ce
  become: true
  apt:
    name: docker-ce
    state: present
    update_cache: yes
    force: yes

- name: "enable and start docker service"
  become: true
  systemd:
    name: docker
    state: started
    enabled: yes
